{% extends 'base.html' %}

{% block main %}
    <article class="article article-type-page">
        <div class="article-inner">
            <header class="article-header">
                <p class="article-title">
                    张先生
                </p>
                <br>
                <h1 class="article-title">
                    Python全栈工程师、爬虫工程师
                </h1>
                <hr>
                <p class="article-tag-list-item">手机:18896537794</p>
                <br>
                <p class="article-tag-list-item">邮箱:sen0117@163.com</p>
                <br>
                <br>
            </header>
            <div class="article-entry">
                <article class="article-title">教育经历</article>
                <ul>
                    <li>2014年9月 -- 2018年6月安徽省蚌埠市蚌埠学院计算机工程学院 -- 计算机科学与技术</li>
                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">项目经验</article>
                <article class="article-header">
                    2017/11-2017/12 图书管理系统
                    <hr>
                </article>
                <ul>
                    <li>项目描述：图书管理系统主要是查询数据库并对数据库进行增删改操作。</li>
                    <li>责任描述：主要负责图书借还，系统查询功能</li>
                    <li>开发环境与工具：MySQL，python2.7，pycharm</li>
                    <li>具体实现：使用python语句，通过filter条件查询、sql原生语句查询，对数据库进行增删改操作</li>
                </ul>
                <article class="article-header">
                    2018/02 -- 2018/04 电商项目
                    <hr>
                </article>
                <ul>
                    <li>项目描述：此电商项目主要实现用户注册、登录、加入购物车、下订单、支付宝沙箱版购买等功能。</li>
                    <li>具体实现：页面上，每个页面的共同部分使用继承功能来实现；</li>
                    <li>具体功能：根据每个功能涉及到的对象，分为用户、商品、购物车、订单等模块，数据的增删改主要通过操作数据库实现。</li>
                    <li>责任描述：主要负责购物车，订单模块</li>
                    <li>开发环境与工具：MySQL，python2.7，pycharm</li>
                </ul>
                <article class="article-header">
                    2018/05 进一步爬取当当网数据
                    <hr>
                </article>
                <ul>
                    <li>爬取数据：<br>
                        书名、详情页面图片、介绍、书目录、简介、出版社、出版目录等
                    </li>
                    <li>开发环境与工具：python3.6、MySQL、MongoDB、pycharm、Docker</li>
                    <li>开发技术：scrapy、xpath、ImagesPipeline、splash</li>
                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">专业技能</article>
                <ul>
                    <li>掌握python，掌握Django框架</li>
                    <li>精通在Linux、Windows平台上的python编程,精通常用的Linux命令.</li>
                    <li>掌握浏览器调试工具</li>
                    <li>掌握Python urllib、urllib2、requests等网络模块.</li>
                    <li>掌握Python lxml、BeautifulSoup、re、json、xpath模块进行数据提取.</li>
                    <li>精通Scrapy框架，掌握scrapy-redis分布式爬虫的构建.</li>
                    <li>掌握HTML5、CSS、JavaScript、AJAX等前端开发, 熟悉JQuery，了解easyUI等前端框架.</li>
                    <li>了解TCP/IP五层模型；</li>
                    <li>精通MySQL数据库,熟练使用Redis和MongoDB的NoSQL数据库.</li>
                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">其他技能</article>
                <ul>
                    <li>熟悉使用PS、会声会影等图片视频工具</li>
                    <li>熟悉使用办公软件Excel、Word、PPT等文档工具；</li>
                </ul>
            </div>
            <div class="article-footer">
                热爱python，这种不断的尝试，学习，摸索，突破到最后实现的过程，让我感到充实和满足，我相信这种热爱会让我在技术方面愈来愈完善。
                <br>性格开朗，积极主动，喜欢思考，工作中有很强的责任感。
                <br>勤奋好学，为人诚恳，有良好的团队合作精神和沟通组织能力。
                <br>可以胜任重复性工作，工作细致认真、积极主动、有耐心、严谨。
            </div>
        </div>
    </article>

{% endblock main %}