{% extends 'main_top.html' %}

{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <table align="center">
        <form action="bookadd.html" method="post">
            <tr>
                <td>书架名称：</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="提交"></td>
            </tr>


        </form>
    </table>
    </body>

    </html>
{% endblock main %}