{% load static %}
<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>角色赋予权限列表</TITLE>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="{% static "/ztree/css/zTreeStyle/zTreeStyle.css" %}" type="text/css">
	<script type="text/javascript" src="{% static "/ztree/js/jquery-1.4.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "/ztree/js/jquery.ztree.core.js" %}"></script>
	<script type="text/javascript" src="{% static "/ztree/js/jquery.ztree.excheck.js" %}"></script>

	<SCRIPT type="text/javascript">

		var setting = {
			check: {
				enable: true,
                chkboxType: { "Y":'ps', "N":'ps'} // 勾选子级时，同时把父级勾选上，同时把子级页勾选上；
                                                     // 取消时，如果父级没有其他选中子级，那么父级取消，同时子级全部取消
			},
			data: {
				simpleData: {
					enable: true
				}
			},
            callback: {
                onCheck: zTreeOnCheck
            }
		};
        var zNodes = [];
        {% for module in modules %}
            zNodes[{{ forloop.counter0 }}] = { id:{{ module.id }}, pId:{{ module.parent|default:0 }},
                    name:"{{ module.moduleName }}", open:true, checked: {{module.checked}} }
        {% endfor %}

        // 勾选或者取消勾选checkbox触发
        function zTreeOnCheck(event, treeId, treeNode) {
            // alert(treeNode.id + ", " + treeNode.name + "," + treeNode.checked);
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            // 获取所有选中的checkbox
            var nodes = zTree.getCheckedNodes(true);
            var selected_module_ids = [];
            for (var i=0; i < nodes.length; i++){
                selected_module_ids.push(nodes[i].id)
            }
            //console.log(selected_module_ids.join(','));
            //console.log(selected_module_ids.length);
            $.post('../dorelate/', {selected_module_ids: selected_module_ids.join(','), role_id:{{role_id}} },
                function(resp){
                    if(resp.code == 0) {
                       alert(resp.message)
                    }
                })

        }

		function setCheck() {
			var zTree = $.fn.zTree.getZTreeObj("treeDemo");
			zTree.setting.check.chkboxType = { "Y":'ps', "N":'ps'};
		}


		$(document).ready(function(){
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			{#setCheck();#}
		});

	</SCRIPT>
</HEAD>

<BODY>

    <div class="content_wrap">
        <div class="zTreeDemoBackground left">
            <ul id="treeDemo" class="ztree"></ul>
        </div>

    </div>
</BODY>
</HTML>