{% load staticfiles %}


<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
    <title>图书馆管理系统</title>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    <script language="javascript">
        function checkreader(form) {
            form.action = 'bookBorrow.html';
            if (form.barcode.value == "") {
                alert("请输入读者条形码!");
                form.barcode.focus();
                return;
            }

            form.submit();
        }

        function checkread(form) {
            form.action = 'bookRenew.html';
            if (form.barcode.value == "") {
                alert("请输入读者条形码!");
                form.barcode.focus();
                return;
            }

            form.submit();
        }

        function checkbook(form) {
            form.action = 'bookBorrow.html';
            if (form.barcode.value == "") {
                alert("请输入读者条形码!");
                form.barcode.focus();
                return;
            }
            if (form.inputkey.value == "") {
                alert("请输入查询关键字!");
                form.inputkey.focus();
                return;
            }

            if (form.number.value - form.borrowNumber.value <= 0) {
                alert("您不能再借阅其他图书了!");
                return;
            }
            form.submit();
        }

        function savebook(form) {
            form.action = 'savebook';
            if (form.barcode.value == "") {
                alert("请输入读者条形码!");
                form.barcode.focus();
                return;
            }
            if (form.inputkey.value == "") {
                alert("请输入查询关键字!");
                form.inputkey.focus();
                return;
            }
            form.submit();
        }

        function bookback(form) {
            form.action = 'bookBack.html';
            if (form.barcode.value == "") {
                alert("请输入读者条形码!");
                form.barcode.focus();
                return;
            }

            form.submit();
        }

        function checkForm(form) {
            if (form.oldpwd.value == "") {
                alert("请输入的原密码!");
                form.oldpwd.focus();
                return false;
            }
            if (form.oldpwd.value != form.holdpwd.value) {
                alert("您输入的原密码不正确，请重新输入!");
                form.oldpwd.value = "";
                form.oldpwd.focus();
                return false;
            }
            if (form.pwd.value == "") {
                alert("请输入的新密码!");
                form.pwd.focus();
                return false;
            }
            if (form.pwd1.value == "") {
                alert("请确认新密码!");
                form.pwd1.focus();
                return false;
            }
            if (form.pwd.value != form.pwd1.value) {
                alert("您两次输入的新密码不一致，请重新输入!");
                form.pwd.value = "";
                form.pwd1.value = "";
                form.pwd.focus();
                return false;
            }
        }
        function borrowquery(form) {
            form.action = 'borrowQuery.html';

            form.submit();
        }

    </script>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>
<body onLoad="clockon(bgclock)">


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td height="118" valign="top" background="{% static 'Images/top_bg.gif' %}" bgcolor="#EEEEEE">
            <table width="100%" height="33" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="81%" height="10"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td height="20">&nbsp;</td>
                    <td width="10%"><a href="#" onClick="window.location.reload();" class="word_dark">刷新页面</a></td>
                    <td width="9%"><a href="#" onClick="myclose()" class="word_dark">关闭系统</a></td>
                    <script language="javascript">
                        function myclose() {
                            if (confirm("真的要关闭当前窗口吗?")) {
                                window.close();
                            }
                        }
                    </script>
                </tr>
            </table>
            <table width="93%" height="79" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="69" align="right" valign="bottom">当前登录用户： {{ request.session.loginuser }}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="{% static 'JS/onclock.JS' %}" charset="UTF-8"></script>
<script src="{% static 'JS/menu.JS' %}" charset="UTF-8"></script>
<div class=menuskin id=popmenu
     onmouseover="clearhidemenu();highlightmenu(event,'on')"
     onmouseout="highlightmenu(event,'off');dynamichide(event)" style="Z-index:100;position:absolute;"></div>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr bgcolor="#DFA40C">
        <td width="3%" height="27">&nbsp;</td>
        <td width="29%">
            <div id="bgclock" class="word_white"></div>
        </td>
        <script language="javascript">
            function quit() {
                if (confirm("真的要退出系统吗?")) {
                    window.location.href = "login.html";
                }
            }
        </script>
        <td width="66%" align="right" bgcolor="#B0690B" class="word_white"><a href="main.html"
                                                                              class="word_white">首页</a> |
            <a onmouseover=showmenu(event,sysmenu) onmouseout=delayhidemenu() class="word_white" style="CURSOR:hand">系统设置</a>
            | <a onmouseover=showmenu(event,readermenu) onmouseout=delayhidemenu() style="CURSOR:hand"
                 class="word_white">读者管理</a> | <a onmouseover=showmenu(event,bookmenu) onmouseout=delayhidemenu()
                                                  class="word_white" style="CURSOR:hand">图书管理</a> | <a
                    onmouseover=showmenu(event,borrowmenu) onmouseout=delayhidemenu() class="word_white"
                    style="CURSOR:hand">图书借还</a> | <a onmouseover=showmenu(event,querymenu) onmouseout=delayhidemenu()
                                                      class="word_white" style="CURSOR:hand">系统查询</a> | <a
                    href="pwd_Modify.html" class="word_white">更改口令</a> | <a href="#" onClick="quit()"
                                                                            class="word_white">退出系统</a></td>
        <td width="2%" bgcolor="#B0690B">&nbsp;</td>
    </tr>
    <tr bgcolor="#DFA40C">
        <td height="9" colspan="4" background="{% static 'Images/navigation_bg_bottom.gif' %}"></td>
    </tr>
</table>

<table width="778" border="0" cellspacing="0" cellpadding="0" align="center">
    <tr>
        <td valign="top" bgcolor="#FFFFFF">


            {% block main %}
            {% endblock %}

            <table width="778" height="66" border="0" align="center" cellpadding="-2" cellspacing="-2"
                   bgcolor="#FFFFFF">
                <tr>
                    <td height="11" colspan="4" background="{% static 'Images/copyright_t.gif' %}"></td>
                </tr>
                <tr>
                    <td width="124" height="23">&nbsp;</td>
                    <td valign="bottom" align="center"> CopyRight &copy; 2008 www.**********.com 长春市*****有限公司</td>
                    <td width="141">&nbsp;</td>
                </tr>
                <tr>
                    <td height="23">&nbsp;</td>
                    <td align="center">本站请使用IE6.0或以上版本 1024*768为最佳显示效果</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td height="8"></td>
                    <td height="8"></td>
                    <td height="8"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
<SCRIPT Language=VBScript><!--

//-->




</SCRIPT>