{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
        <article class="article article-type-page">
        <div class="article-inner">
            <header class="article-header">
            <h1 class="article-title">
                张先生
            Python全栈工程师
            </h1>
            <hr>
            <p class="article-tag-list-item">手机:18896537794</p>
            <br>
            <p class="article-tag-list-item">邮箱:2310787706zs@gmail.com</p>
            <br>
            <br>
            </header>
            <div class="article-entry">
                <article class="article-title">教育经历</article>
                <ul>

                <li>2014年9月 -- 2018年6月安徽省蚌埠市蚌埠学院计算机工程学院</li>


                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">工作经验</article>
                <article class="article-header">
                2017年9月28日 -- 2017年9月28日 《欢乐大星球 HTML5》 手机游戏
                </article>
                <ul>
                    <li>简介：《欢乐大星球 H5》是《欢乐大星球》游戏的 HTML5 版本，基于 Websocket 技术，服务器采用全区全服架构，分布式部署支持平行扩展，无单点进程，并支持在线扩容。</li>
                    <li>角色：后台开发工程师。负责 Websocket 接入层开发、游戏功能逻辑开发、性能优化、流量优化、负载均衡等。</li>
                    <li>贡献：分别解决了接入层包延时问题、Tornado 空跑 CPU 占用率高的问题，性能瓶颈模块使用 C++ 重写。优化后单进程的每秒并发登录请求和每秒包转发量获得了显著提升。</li>
                </ul>
            </div>
            <div class="article-entry">
                <article class="article-title">技能</article>
                <ul>
                    <li>Web开发：PHP/Hack/Node</li>
                    <li>Web框架：ThinkPHP/Yaf/Yii/Lavaral/LazyPHP</li>
                    <li>前端框架：Bootstrap/AngularJS/EmberJS/HTML5/Cocos2dJS/ionic</li>
                </ul>
            </div>
            <div class="article-footer">
            具有很强的求知欲和动手能力，喜欢尝试，玩过树莓派、焊过电路板，玩过 Openwrt，搭建过 ss，自学过日语，刷机装系统都很拿手。
            </div>
        </div>
    </article>

{#<main class="col-md-12">#}
{#						<h1 class="page-title">About Me</h1>#}
{#						<article class="post">#}
{#							<div class="entry-content clearfix">#}
{#								<figure class="img-responsive-center">#}
{#									<img class="img-responsive" src="img/me.jpg" alt="Developer Image">#}
{#								</figure>#}
{#								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>#}
{#								<p>Responsive web design offers us a way forward, finally allowing us to design for the ebb and flow of things. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly.</p>#}
{#								<div class="height-40px"></div>#}
{#								<h2 class="title text-center">Social</h2>#}
{#								<ul class="social">#}
{#									<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>#}
{#									<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>#}
{#									<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>#}
{#									<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>#}
{#								</ul>#}
{#							</div>#}
{#						</article>#}
{#					</main>#}
{% endblock main %}